<section>
    <h2 class="page-title" data-bind="text: title"></h2>
</section>

<div class="container-fluid">
    <div class="row-fluid" >
        
        <!-- main container-->
        <div class="span8" style="background-color: red">
           
            
            <div class="container-fluid">
                <div class="row-fluid" >
                    <div class="span12" style="background-color: blue">
                        carasel images etc
                    </div>
                </div>
                
                <div class="row-fluid" >
                    <div class="span12" style="background-color: brown">
                        twitter
                    </div>
                </div> 
                
                <div class="row-fluid" >
                    <div class="span12" style="background-color: white">
                        
                        <!--<div data-bind="template: { name: espnTemplate }"></div>-->
                        
                        ESPN
                        
                        <table border="1">
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                        

                    </div>
                </div> 

            </div>
        </div>
        
        
        <!-- ads -->
        <div class="span4" style="background-color: green">
            
        </div>

    </div>

         

</div>